@import "@styles/main";

.not-found-page {
    padding: $spacing-xxl 0;

    h1 {
        font-size: 6rem;
        color: $error-color;
        margin-bottom: $spacing-sm;
    }

    h2 {
        margin-bottom: $spacing-xl;
    }
}
